
.figure {
    display: flex;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    position: relative;
    cursor: pointer;
}

.firstplayer {
    background-color: crimson;
}

.secondplayer {
    background-color: skyblue;
}

.hold {
    border: solid skyblue 2px;
}

.hovered {
    background: lavender;
}

.invisible {
    display: none;
}

.allowdrop{
    background-color: lightgreen;
}
.allowdrop_selected{
    background-color: palegreen;
}


.rule_table{
    background-color: azure;
    height:     5em;
    width:      5em;
}

.rule_row{
    height: 1em;
    width: 5em;
    border-bottom: 0.1em;
}

.rule_cell{
    background-color: whitesmoke;
    height: 1em;
    width: 1em;
}

.player_rules{
    align-self: stretch;
    align-items: center;
}
.rule_center{
    background-color: black;
}
.rule_dot{
    background-color: lightgreen;
}
.selected{
    border: 2px double tomato;
}

table {
    border: 1px solid black;
    margin: 1em;
  }

#victory {
    display: none;
    font-size: 3rem;
    color: crimson;
    padding: 1em;
}