
.figure {
    display: flex;
    width: 4em;
    height: 4em;
    border-radius: 2em;
    position: relative;
    cursor: pointer;
}

.firstplayer {
    background-color: crimson;
}

.secondplayer {
    background-color: skyblue;
}

.hold {
    border: solid skyblue 2px;
}

.hovered {
    background: lavender;
}

.invisible {
    display: none;
}

.allowdrop{
    background-color: lightgreen;
}

div.rule_center{
    background-color: black;
}
div.rule_dot{
    background-color: lightgreen;
}
.rule_table{
    display:   inline-flex;
    height:     5em;
    width:      5em;
}

.rule_row{

    height: 1em;
    width: 5em;
    border-bottom: 0.1em;
    border-color: skyblue
}

.rule_cell{

    height: 1em;
    width: 1em;
}

.player_rules{
    align-self: stretch;
    align-items: center;
}
.selected{
    outline-style: double;
    outline:        0.2em;
    outline-color:  tomato;
}